<div ng-controller="contactCtrl" id="contact" scrollarama>
<h2>Contact</h2>
	<div>
		<a class="twitter-timeline" href="https://twitter.com/Nikhilvenkat" data-widget-id="362824413957193732">Tweets by @Nikhilvenkat</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>